*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#111;
  color:#fff;
}

header{
  text-align:center;
  padding:30px 15px;
  background:#000;
}

header h1{
  color:#f4c542;
  font-size:40px;
}

header p{
  color:#ddd;
  margin-top:10px;
}

.hero{
  text-align:center;
  padding:20px;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:25px;
  padding:25px;
}

.product{
  background:#1d1d1d;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 0 15px rgba(255,215,0,.2);
}

.product img{
  width:100%;
  display:block;
}

.product h2{
  padding:15px;
  text-align:center;
}

.product h3{
  color:#f4c542;
  text-align:center;
  font-size:30px;
}

.product p{
  text-align:center;
  color:#ccc;
  margin:10px;
}

.buttons{
  padding:20px;
}

.buttons button{
  width:100%;
  padding:15px;
  border:none;
  border-radius:10px;
  color:white;
  font-size:18px;
  margin-bottom:12px;
  cursor:pointer;
}

.order{
  background:#25D366;
}

.facebook{
  background:#1877F2;
}

.contact{
  text-align:center;
  padding:40px 20px;
}

footer{
  text-align:center;
  padding:20px;
  background:#000;
  color:#aaa;
}
